/*directory page*/

.directory {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    margin-top: 25px;
}

.directory-buttons {
    text-align: end;
}

.directory-buttons button {
    background-color: #283618;
    margin: -30px 15px 20px 15px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    border: 2px #777777 solid;
}

.directory-buttons button:focus {
    background-color: #95B2A7;
    font-weight: bold;
    color: #000;
    border: 2px #bc6c25 solid;
}

#grid {
    background-size: 50px 50px;
    height: 52px;
    width: 52px;
}

#list {
    background-size: 50px 50px;
    height: 52px;
    width: 52px;
}

#cards {
    color: black;
    margin-bottom: 25px;
}

#cards section h2 {
    text-align: center;
}

#cards section {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    margin: 12px;
    background-color: #95B2A7;
    border: 2px black solid;
    border-radius: 3px;
}

/*#cards img {
    display: none;
}*/

#cards section p {
    text-align: center;
    font-size: 16px;
}

#cards section a {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#cards section a:hover {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.grid section {
    margin: 10px;
    padding: 15px;
    text-align: center;
    display: block;
    border: 2px #95B2A7;
    border-radius: 3px;
}

.grid img {
    padding: 0px;
    display: block;
    margin: 15px auto;
    width: 100px;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 5px;
}

/* another text*/
.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #bed;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #eee;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
}

.grid section>* {
    margin: 0.1rem;
}

.grid h3 {
    font-family: "Caveat", cursive;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
    /* smaller viewports only */
}

.list section h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
    background-color: #bed;
}

section h3 {
    font-size: 1.5rem;
}

section p {
    font-weight: 600;
    font-size: smaller;
}

section a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
}