.directory {
    margin-top: 15px;
}

.menu {
    text-align: center;
    background-color: #95B2A7;
    height: 75px;
}

.menu button {
    height: 50px;
    width: 50px;
    background-color: black;
    color: #fff;
    margin-top: 10px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    margin: 5px;
    padding: 15px;
    background-color: #95B2A7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list section img {
    display: none;
    /* smaller viewports only */
}