header {
    display: block;
    justify-content: center;
    text-align: center;
    background-color: #B2A9AB;
    padding: 1rem;
}


footer {
    background-color: #3E602D;
    color: #ffff;
    text-align: center;
    padding: 10px;
}