@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

main {
    background-color: #95B2A7;
    margin: auto;
    padding-top: 5px;
}

header {
    display: block;
    justify-content: center;
    text-align: center;
    background-color: #32AE99;
    padding: 1rem;
}

section {
    padding-left: 25px;
}

h1,
h2 {
    font-family: 'DM Serif Display', serif;
    color: #000000;
}

footer {
    background-color: #32AE99;
    color: #ffff;
    text-align: center;
    padding: 10px;
}

p {
    color: #000000;
    font-size: larger;
}

section {
    margin: auto;
}

.colors {
    background-color: whitesmoke;
    width: 100%;
    margin: auto;
    text-align: center;
}

.primary {
    background-color: #B2A9AB;
    color: #000000;
}

.secondary {
    background-color: #32AE99;
}

.backround {
    background-color: #95B2A7;
}

.text-color {
    background-color: #333;
    color: #fff;
}

.heading {
    background-color: #89A99D;
    color: #000000;
}