@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main section:nth-child(3) {
        grid-column: 3/4;
    }

    section {
        width: 400px;
    }


    section img {
        max-width: 100%;
    }
}