@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
    margin: auto;
    background-color: lightgray;
}

p {
    font-family: "Bebas Neue, sans-serif";
    font-size: 16px;
}

header {
    margin: auto;
    display: flex;
    font-family: 'DM Serif Display', serif;
    justify-content: center;
    background-color: #32AE99;
    padding: 1rem;
    width: 100%;
}

nav {
    text-align: center;
    background-color: #32AE99;
    color: #000000;
    flex-direction: row;
}


.hero img {
    display: flex;
    width: 430px;
    height: 400px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.weather {
    margin: auto;
    width: 550px;
    height: 400px;
    background-color: #95B2A7;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.event {
    margin: auto;
    background-color: #95B2A7;
    justify-content: center;
    text-align: center;
    width: 450px;
    height: 300px;
}

.join {
    width: 150px;
    font-family: "DM Serif Display', serif";
    font-size: 20px;
}

.event h2 {
    margin-bottom: -15px;
}

.banner {
    margin: auto;
    background-color: #95B2A7;
    text-align: center;
    width: 550px;
    margin-top: 1px;
    border: 10px solid black;
}

.business {
    margin: auto;
    width: 350px;
    height: 400px;
    background-color: #95B2A7;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 1rem;
}

.business2 {
    margin: auto;
    width: 350px;
    height: 400px;
    background-color: #95B2A7;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 1rem;
}

#member {
    background-color: #000000;
    color: azure;
}

footer {
    margin: auto;
    display: block;
    font-family: 'DM Serif Display', serif;
    background-color: #32AE99;
    color: #000000;
    padding: 5px;
    width: 100%;
    text-align: center;
}


footer p {
    font-family: "Bebas Neue, sans-serif";
    color: black;
    text-align: center;
    margin-right: 25px;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "☑";
}

.navigation {
    font-family: 'DM Serif Display', serif;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #32AE99;
    color: #000000;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.navigation a:hover {
    background-color: #B2A9AB;
    color: black;
    font-weight: 700;
}

.open a {
    display: block;
}