@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
    margin: auto;
    background-color: lightgray;
}

main {
    background-color: lightgray;
    margin-top: -25px;
    width: 100%;
    height: auto;
}

header {
    margin: auto;
    display: flex;
    font-family: 'DM Serif Display', serif;
    justify-content: center;
    background-color: #32AE99;
    padding: 1rem;
    width: 100%;
}

#mode {
    position: absolute;
    background-color: #B2A9AB;
    border-color: #000000;
    border-radius: 40%;
    right: 55px;
    font-family: 'DM Serif Display', serif;
}

nav {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #32AE99;
    color: #000000;
    flex-direction: row;
    margin-bottom: -5px;
}

.hero {
    margin-top: 2px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.weather {
    margin: auto;
    width: 550px;
    height: 200px;
    background-color: #95B2A7;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 3px solid #000000;

}

.event {
    margin: auto;
    background-color: #95B2A7;
    justify-content: center;
    text-align: center;
    width: 450px;
    height: 400px;
    border: 3px solid #000000;
}

.join {
    position: absolute;
    margin-top: 35px;
    background-color: lightgray;
    left: 10px;
    width: 150px;
    font-family: "DM Serif Display', serif";
    font-size: 20px;
    outline: black;
    border-radius: 45%;
}

.event h2 {
    margin-bottom: -15px;
}

.banner {
    margin: auto;
    background-color: #95B2A7;
    text-align: center;
    width: 200px;
    margin-top: 25px;
    border: 10px solid black;
}

.business {
    margin: auto;
    width: 350px;
    height: 300px;
    background-color: #95B2A7;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 1rem;
    border: 3px solid #000000;
}

.business2 {
    margin: auto;
    justify-content: center;
    width: 350px;
    height: 300px;
    background-color: #95B2A7;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 1rem;
    border: 3px solid #000000;
}


footer {
    margin: auto;
    display: block;
    font-family: 'DM Serif Display', serif;
    background-color: #32AE99;
    color: #000000;
    padding: 5px;
    width: 100%;
    text-align: center;
    font-family: "Bebas Neue, sans-serif";
    color: black;
    text-align: center;
    margin-right: 25px;
}


#menu {
    font-size: 1.5rem;
    border: 0;
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "☑";
}

.navigation {
    font-family: 'DM Serif Display', serif;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #32AE99;
    color: #fff;
    width: 100%;
    height: auto;
    margin-top: -10px;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.navigation a:hover {
    background-color: #B2A9AB;
    color: black;
    font-weight: 700;
}

.open a {
    display: block;
}

/* discover page css*/

.dis-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    margin-top: 5px;
}

#visit {
    text-align: center;
    background-color: #95B2A7;
    margin: 80px;
    width: 250px;
    height: 50px;
    margin-bottom: 15px;
    border: 3px solid #000000;
}

.events {
    margin: 80px;
    width: 250px;
    height: 350px;
    background-color: #95B2A7;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 3px solid #000000;
    align-self: center;
}

.population {
    margin: 80px;
    width: 250px;
    height: 250px;
    background-color: #95B2A7;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 3px solid #000000;
}

.attractions {
    margin: 80px;
    width: 250px;
    height: 450px;
    background-color: #95B2A7;
    text-align: center;
    margin-bottom: 15px;
    border: 3px solid #000000;
}

.image1 {
    width: auto;
    height: auto;
    margin: auto;
    align-content: center;
    text-align: center;
}

.image2 {
    width: auto;
    height: auto;
    margin: auto;
    align-content: center;
    text-align: center;
}

.image3 {
    width: auto;
    height: auto;
    margin: auto;
    align-content: center;
    text-align: center;
}

.image4 {
    width: auto;
    height: auto;
    margin: auto;
    align-content: center;
    text-align: center;
}

.image5 {
    width: auto;
    height: auto;
    margin: auto;
    align-content: center;
    text-align: center;
}

.image6 {
    width: auto;
    height: auto;
    margin: auto;
    align-content: center;
    text-align: center;
}


/*----------- Join page--------------*/

.join-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 5px;
}

.np {
    width: 450px;
    height: 200px;
    background-color: #95B2A7;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 3px solid #000000;
    align-self: center;
}

h2 {
    text-align: center;
}

.bronze {
    width: 450px;
    height: 250px;
    background-color: #CD7F32;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 3px solid #000000;
    align-self: center;
}


.silver {
    width: 450px;
    height: 250px;
    background-color: #C0C0C0;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 3px solid #000000;
    align-self: center;
}

.gold {
    width: 450px;
    height: 250px;
    background-color: #FFD700;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 3px solid #000000;
    align-self: center;
}


.form {
    width: 450px;
    margin-top: 15px;
    background-color: #95B2A7;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 50px;
}

.join-form {
    border: 6px solid black;
    border-radius: 10px;
}

.join-form label {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .9rem;
}

.join-form div {
    padding-top: 1rem;
    color: darkblue;
    font-size: .9rem;
}

.join-form input[type="text"],
.join-form input[type="email"],
.join-form input[type="tel"] {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 8px;
    padding: .80rem;
    color: black;
    width: 90%;
    max-width: 400px;
    appearance: none;
}

.join-form input[type="radio"] {
    font-weight: bold;
}

.join-form input[type="submit"] {
    border: none;
    background-color: #32AE99;
    color: black;
    border-radius: 10px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    margin-top: 10px;
    box-shadow: 1px 1px 4px lightslategrey;
    margin-left: 40px;
    font-weight: bolder;
}

.join-form input:required {
    border-bottom: solid 8px #be1e0a;
}

.join-form input:required:valid {
    border-bottom: solid 8px #0bc809;
}

.join-form input[type="submit"]:hover {
    background-color: lightgray;
}

/*----------- Thank you page--------------*/
.thankyou {
    background-color: #95B2A7;
    text-align: center;
    margin-top: 25px;
    height: auto;
    width: auto;
    font-weight: bold;
    font-size: large;
    font-family: "Bebas Neue, sans-serif";
}

/*----------- Directory Page--------------*/