@media screen and (min-width: 800px) {
    header {
        margin: auto;
    }

    .hero img {
        width: 1550px;
        height: 550px;
        margin: auto;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav {
        height: 50px;
        flex-direction: row;
        margin-top: -17px;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li a {
        display: block;
        flex: 1 1 100%;
    }
}