@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
    margin: auto;
    background-color: #77CFF8;
}

h3 {
    font-family: "Shadows Into Light Two", cursive;
}

main {
    background-color: #77CFF8;
    margin-top: -25px;
    width: 100%;
    height: auto;
}

header {
    margin: auto;
    display: flex;
    font-family: "Shadows Into Light Two", cursive;
    justify-content: center;
    background-color: #6FB5C3;
    padding: 1rem;
    width: 100%;
}

#mode {
    position: absolute;
    background-color: #F18805;
    border-color: #000000;
    border-radius: 40%;
    right: 55px;
    font-family: 'DM Serif Display', serif;
}

nav {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #F18805;
    color: #000000;
    flex-direction: row;
    margin-bottom: -5px;
}

footer {
    margin: auto;
    display: block;
    font-family: "Shadows Into Light Two", cursive;
    background-color: #6FB5C3;
    color: #000000;
    padding: 5px;
    width: 100%;
    text-align: center;
    color: black;
    text-align: center;
    margin-right: 25px;
}


#menu {
    font-size: 1.5rem;
    border: 0;
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "☑";
}

.navigation {
    font-family: "Shadows Into Light Two", cursive;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #F18805;
    color: #fff;
    width: 100%;
    height: auto;
    margin-top: -10px;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.open a {
    display: block;
}

/*----------- Home Page(index)--------------*/
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.weather {
    margin-left: 75px;
    margin-top: 35px;
    border: 6px solid #F18805;
    width: 250px;
    height: fit-content;
    background-color: #6FB5C3;
}

.contact {
    margin-top: 35px;
    background-color: #6FB5C3;
    height: 350px;
    margin-left: 30px;
}

.rent {
    margin-left: 175px;
    font-size: 150%;
    background-color: #F18805;
    color: #000000;
    margin-bottom: 20px;
}

.service {
    background-color: #6FB5C3;
    color: #000000;
    height: fit-content;
    margin-bottom: 25px;
}

.contact p {
    font-size: larger;
}

.weather h2 {
    margin-left: 35px;
}

.vehicle1 {
    margin-left: 50px;
    margin-top: 50px;
}


/*----------- contact and reservation pages--------------*/

.contact-grid {
    text-align: center;
}

.info {
    font-family: "Shadows Into Light Two", cursive;
}

.form {
    width: 450px;
    margin-top: 15px;
    background-color: #6FB5C3;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 50px;
}

.contact-form {
    border: 4px solid black;
    border-radius: 10px;
}

.contact-form input[type="submit"] {
    border: none;
    background-color: #F18805;
    color: black;
    border-radius: 10px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    margin-top: 10px;
    margin-left: 35px;
    font-weight: bolder;
}

.reservation {
    width: 400px;
    margin-top: 15px;
    background-color: #6FB5C3;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 25px;
}

.reservation-form {
    border: 6px solid black;
    border-radius: 10px;
}

.reservation-form label {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .9rem;
}

.reservation-form div {
    padding-top: 1rem;
    color: darkblue;
    font-size: .9rem;
}

.reservation-form input[type="text"],
.reservation-form input[type="email"],
.reservation-form input[type="tel"],
.reservation-form input[type="date"] {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 8px;
    padding: 1rem;
    color: black;
    width: 90%;
    max-width: 400px;
    appearance: none;
}

.reservation-form input[type="radio"] {
    font-weight: bold;
}

.reservation-form input[type="submit"] {
    border: none;
    background-color: #F18805;
    color: black;
    border-radius: 10px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: bolder;
}

.reservation-form input:required {
    border-bottom: solid 8px #be1e0a;
}

.reservation-form input:required:valid {
    border-bottom: solid 8px #0bc809;
}

.reservation-form input[type="submit"]:hover {
    background-color: lightgray;
}

.agreement {
    font-size: 225%;
    margin-right: 45px;
    text-align: center;
    background-color: #F18805;
}