@media screen and (min-width: 850px) {
    header {
        margin: auto;
        width: auto;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .vehicle1 {
        grid-column: 3;
        margin-top: 10px;
    }

    .images {
        margin-top: -475px;
        margin-left: 15px;
    }

    .service {
        grid-column: 1;
        grid-row: 2;
        margin-top: -550px;
        margin-left: 25px;
    }

    p {
        font-family: "Bebas Neue, sans-serif";
        font-size: 16px;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav {
        height: 75px;
        flex-direction: row;
        margin-top: -17px;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        width: auto;
    }

    .navigation li a {
        display: block;
        flex: 1 1 100%;
    }

    .form {
        margin-left: 550px;
    }


    .reservation-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .reservation {
        grid-column: 1;
        grid-row: 1;
        width: 550px;
        margin-left: 25px;
    }

    .agreement {
        font-size: 225%;
        margin-right: 75px;
        margin-top: 50px;
        height: 900px;
    }

    .contact {
        height: 315px;
    }
}