@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

body {
    font-family: 'Work Sans', sans-serif;

}

header {
    display: flex;
    background-color: #1d4d72;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header img {
    display: flex;
    width: 30%;
    max-width: 100px;
}

header h1 {
    display: flex;
    margin-left: 1rem;
    color: white;
    font-family: 'Cormorant Garamond', serif;
}

nav {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    background-color: black;
    color: white;
    height: 150px;
    font-size: 25px;
    margin-top: -25px;
    margin-bottom: -10px;
}

ul {
    list-style-type: none;
}

nav li a {
    color: white;
}

li a:link {
    color: white;
}

main {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr;
    justify-items: center;
    justify-content: center;
    width: 70%;
}

.card {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    border-style: solid;
    border-width: 1px;
}

.card h3 {
    text-align: center;
    background-color: #1d4d72;
    padding: 10px;
    color: white;
    margin-top: 0;
    font-family: 'Cormorant Garamond', serif;
}

.card p {
    font-size: 20px;
}

p {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;

}

footer {
    background-color: #1d4d72;
}

footer p {
    color: white;
    text-align: center;
}