@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
    font-family: 'DM Serif Display', serif;

}

header {
    display: flex;
    background-color: #00b3b3;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header img {
    display: flex;
    width: 30%;
    max-width: 100px;
}

header h1 {
    display: flex;
    margin-left: 1rem;
    color: black;
    font-family: 'DM Serif Display', serif;
}

.hero {
    margin-top: 100px;
}

.hero img {
    width: 100%;
    margin-top: 15px;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 450px;
    left: 2px;
    background: #acbdd9;
    padding: 5px;
    border: 1px solid #000000;
}

.herolabel p {
    font-size: 15px;
}

nav {
    font-family: 'DM Serif Display', serif;
    text-align: center;
    background-color: black;
    color: white;
    height: 160px;
    font-size: 25px;
    margin-top: -25px;
    margin-bottom: -10px;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

nav li a {
    color: white;
}

li a:link {
    color: white;
}

main {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr;
    justify-items: center;
    justify-content: center;
    width: 50%;
}

h2 {
    text-decoration: underline;
    padding-top: 120px;
}

.card {
    margin-bottom: 20px;
    text-align: left;
    width: 95%;
    height: auto;
    border-style: solid;
    border-width: 1px;
}

.card li a {
    color: blue;
}

.card h3 {
    text-align: center;
    background-color: #00b3b3;
    padding: 10px;
    color: black;
    margin-top: 0;
    font-family: 'DM Serif Display', serif;
}

.card h4 {
    text-align: center;
}

p {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;

}

footer {
    background-color: #00b3b3;
    color: black;
    text-align: center;
    font-weight: bold;
    height: 100px;
}



#menu {
    font-size: 1.5rem;
    border: 0;
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
}



#menu.open::before {
    content: "☑";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: black;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: lightgrey;
    color: black;
    font-weight: 700;
}

.open a {
    display: block;
}

.active::before {
    content: "📌";
}