@media screen and (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav {
        height: 500px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    h2 {
        grid-column: span 2;
    }
}