@media screen and (min-width: 800px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav {
        height: 50px;
        flex-direction: row;
    }

    main {
        max-width: 960px;
    }

    .card1 {
        margin-right: 300px;
    }

    .hero img {
        width: 800px;
        height: auto;
        justify-self: center;
        margin-left: 250px;
    }

    .herolabel {
        position: absolute;
        bottom: 300px;
        left: 375px;
        top: 200px;
    }


    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    h2 {
        grid-column: span 2;
    }

    iframe {
        grid-column: span 2;
        width: 600px;
    }

    .card1 img,
    figcaption {
        margin-left: 75px;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li a {
        display: block;
        flex: 1 1 100%;
    }
}